# ==============================================================================
# Example .env file
# Please copy this file to `.env` and substitute all the values required.
# Some values are prefilled, some you will need to get from another
# developer, and some will be specific to your local setup.
# ==============================================================================


# ==============================================================================
# Base Settings
# ==============================================================================
DEBUG=True
SECRET_KEY=xxx # generate from https://djecrety.ir/
SLACK_BOT_TOKEN=xxx
DEFAULT_SLACK_CHANNEL=xxx
# ==============================================================================
# Local Database Settings
# These are the same values from the docker-compose.yml file
# ==============================================================================
DATABASE_URL=postgresql://django:django@db:5432/django
PRODUCTION_DATABASE_URL=postgres://xxx:xxx@xxx:5432/xxx

# ==============================================================================
# Task Manager Settings
# ==============================================================================
REDIS_URL=redis://redis:6379/0

# ==============================================================================
# Version
# ==============================================================================
VERSION=

# ==============================================================================
# Sentry Settings
# ==============================================================================

ENABLE_SENTRY=
SENTRY_ENV=
SENTRY_DSN=

# ==============================================================================
# Stripe Settings
# ==============================================================================
# Get the webhook secret by looking at the console output of the stripe-cli container.
# These values are used by the web container and stripe-cli container.

STRIPE_WEBHOOK_SECRET=whsec_xxxx
STRIPE_DEVICE_NAME=Local <Your Name>
STRIPE_PK_KEY=sk_test_xxxx
STRIPE_SK_KEY=pk_test_xxxx

# ==============================================================================
# Google Captcha Credentials
# ==============================================================================
# The credentials below are provided by Google for testing purposes.
# It is not a security risk to place them here.

RECAPTCHA_PRIVATE_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
RECAPTCHA_PUBLIC_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI

# ==============================================================================
# Google SSO
# To get these credentials you'll need to create an app in google developer console
# and get the credentials. Please check the README
# ==============================================================================
GOOGLE_CLIENT_ID=xxx
GOOGLE_CLIENT_SECRET=xxx

# ==============================================================================
# Github Secret Credentials
# These will be needed to do Oauth login with github
# ==============================================================================
GITHUB_CLIENT_ID=xxx
GITHUB_SECRET_KEY=xxx


# ==============================================================================
# MAILGUN Variables
# ==============================================================================
MAILGUN_API_KEY=xxx
MAILGUN_SENDER_DOMAIN=xxx

# ==============================================================================
# Resend Email settings
# ==============================================================================
RESEND_API_KEY=xxx
ENABLE_EMAILS=TRUE
