{% load static %}
{% load django_vite %}
<!DOCTYPE html>
<html lang="en" data-theme="light">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Your App Name{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% vite_hmr_client %}
        {% vite_asset 'src/main.js' %}

    {# icons #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    {# tailwind #}


    {# Iphone Icon #}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/logo.png' %}">
    {#Brand Logo#}
        <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}" />

        {% include 'meta_tags.html' %}

        {% block extraheader %}
        {% endblock %}
    </head>

    <body hx-indicator="#loading-container" class="bg-gray-50">
        <div class="min-h-screen flex flex-col">
            {% include 'components/navbar.html' %}

            {% include 'components/django_messages.html' %}
            {% include 'components/loading.html' %}

            <div class="flex-1">
                {% block content %}{% endblock %}
            </div>

            {% include 'components/footer.html' %}
        </div>
        {% include 'components/referral_modal.html' %}
    </body>

    {% block javascript %}
    {% endblock %}

</html>